<% @background = "amr" %>

<div class="explanation-1">
<h1>Schareで<h1>
<h1>Schdule を </h1>
<h1>Share しよう。</h1>

<p>初めての方は<%= link_to "こちら", new_user_registration_path %></p>
</div>

<div class="explanation-2">
<h1>現在テスト運用中。</h1>
<p>アカウント作成は可能ですが個人情報の取り扱いにはご注意ください。</p>
<p>ご意見、ご要望あれば</p>
<p>otoriusagi@gmail.com まで。</p>
<div>