/*
 *= require simple_calendar
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
/* ボタン関係　*/

 .btn,
 a.btn,
 button.btn {
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
   line-height: 1.5;
   position: relative;
   display: inline-block;
   height : 30px;
   width : 80px;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-transition: all 0.3s;
   transition: all 0.3s;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   letter-spacing: 0.1em;
   border-radius: 0.5rem;
   color: #fff;
   background-color: darkgray;
 }

 .btn:hover,
 a.btn:hover,
 button.btn:hover {
   color: #fff;
   background: gray;
 }

/* ボタン関係　*/

 a{
  transition: 0.3s;
  color: black;
}

a:hover{
  background-color: transparent;
  color: blue;
}

.fa:hover {
  text-shadow: 0 0 10px rgb(190, 190, 255);
  color: rgb(85, 85, 255);
}

.follow {
  height: 25px;
  background-color: rgb(155, 117, 93);
}

.unfollow {
  height: 25px;
  background-color: rgb(113, 113, 155);
}

body { 
  color:black;
  margin:0;
}

#content {
  margin: 1% 3%;
}

#header-nav {
  display: flex;
  margin:0px;
  background: white;
  color: black;
  justify-content: flex-end;
  align-items: center;
  height: 72px;
  box-shadow: 0 0 8px gray;
  font-size: large;
}

#header-nav .title {
  position: relative;
  margin-right: auto;
}

/* メニューバー終わり */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* カラム落ちの防止 */
.header-list {
  display: flex;
  height: 72px;
  font-size: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}

/* メインメニュー */
.menu-item {
  display: inline-block;
  height: 72px;
  width: 90px;
  position: relative;
}

.menu-item a {
  display: flex;
  width: 100%;
  line-height: 100%;
  font-size: 11.5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0;
  text-decoration: none;
  transition: all 300ms 0s ease;
}

.menu-item > a {
  margin-top: 18px;
  height: 54px;
  font-size: large;
}

/* サブメニュー */
.sub-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sub-menu-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  height: 0;
  /* サブメニューが出現する速度の調整 */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

/* メインメニューマウスカーソルが乗ったらサブメニューを出現させる */
.menu-item:hover > .sub-menu > .sub-menu-item {
  overflow: visible;
  opacity: 1;
  width: 100%;
  height: 36px;
  box-shadow: 0 0 8px gray;
}

.menu-item:hover > a {
  background-color: gray;
  color: white;
}

.sub-menu-item:hover > a {
  background-color: gray;
  color: white;
}

/* メニューバー終わり */


.search_container{
  position: relative;
  box-sizing: border-box;
}
.search_container input[type="text"]{
  border: none;
  height: 1.8em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container{
  border: 2px solid #3879D9;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.2em;
  width: 265px;
  overflow: hidden;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -5px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #3879D9;
}

.box {
  background-color: white;
  width: 350px;
  height: auto;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}


/* サイドバー関連 */

.sidebar{
  width: 200px;
  min-height: 750px;
  height: auto;
  float: left;
  padding: 10px 20px 20px;
  box-shadow: 0 0 8px gray;
}

.main { 
  margin-left:220px;
  width:auto;
  min-height:500px;
  height:auto;
  margin-top:10px;
  }

/* サイドバー関連　終わり */

/* ホーム画面用 interface */

.explanation-1 {
  font-size: large;
  background-color: rgba(180, 180, 180, 0.76);
  color: white;
  margin:  0 10% 1% 10%; 
  padding: 1% 10% 1% 5%;
}

.explanation-1 > h1 {
  margin: 0;
  font-size: 80px;
}

.explanation-2{
  margin:  0 50% 0 0; 
  padding: 1% 5% 1% 5%;
  background-color: rgb(151, 162, 173);
}
.explanation-2 > h1 {
  margin: 0;
  padding-left: 5%;
  color: rgb(151, 162, 173);
  background-color: black;
}


/* ホーム画面用 interface 終わり*/


/* ユーザー登録UI */

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.box-signin {
  margin-bottom: 26px;
}

.box-signin input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#acf7a5,#4bf061);
  border-radius: 3px;
  border: 1px #4ba834 solid;
}

.box-signin input[type="submit"]:hover {
  cursor: pointer;
  background: #4bf059;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}